src/Backup/
src/Debug/
src/Release/
src/UpgradeLog.htm
src/botlib/Debug/
src/botlib/Release/
src/cgame/Debug/
src/cgame/Release/
src/curl-7.12.2/
src/game/Debug/
src/game/Release/
src/renderer/Debug/
src/renderer/Release/
src/splines/Debug/
src/splines/Release/
src/ui/Debug/
src/ui/Release/
*.ncb
*.opensdf
*.sdf
*.suo
*.user
*.vcxproj
*.filters
